<!DOCTYPE html>
<html>
<title>
    <%= data.name %>
</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>
<style>
    img{
        margin-top: 4em;
        width:300px;
        height:auto
    }
    #desc{
        margin-top:3em;
        margin-left:3em;
    }
    @media (max-width:650px) {
        img{
            width:100%;
            height:auto
        }
    }
</style>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <br>
                <h1 class="text-center font-weight-light"><%= data.name %></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="<%=data.image.original %>" class="rounded float-left">
            </div>
            <div id="desc" class="col-sm-3">
                <h3 class="font-weight-light">Name :</h3>
                <!-- regex for first letter capital for each word -->
                <h5 class="font-weight-light"><%=data.name.replace(/(^\w|\s\w)/g, m => m.toUpperCase());%></h5>
                <br>
                <h3 class="font-weight-light">Language :</h3>
                <h5 class="font-weight-light"><%=data.language%></h5>
                <br>
                <h3 class="font-weight-light">Genre :</h3>
                    <% console.log(data.genres) %>
                    <ul><% for(let genre of data.genres) { %>
                        <li>
                            <h5 class="font-weight-light"><%=genre%></h5>
                        </li>
                        <%}%>
                    </ul>
                </h3>
                <br>
                <h3 class="font-weight-light">Rating :</h3>
                <% if(data.rating.average) {%>
                <h5 class="font-weight-light"><%=data.rating.average%></h5>
                <%} else{%>
                    <h5 class="font-weight-light">Not Have</h5>
                <%}%>
                <br>
                <% if(data.officialSite) {%>
                    <h3 class="font-weight-light">Official Site :</h3>
                    <h5 class="font-weight-light"><a href='<%=data.officialSite%>'><%=data.officialSite%></a></h5>
                <%}%>
            </div>
        </div>
        <div  class="row" style="margin-bottom: 3em;">
            <div class="col-sm-12">
                <!-- regex for removing html tags in json string -->
                <% if(data.summary) { let str=data.summary.replace(/<\/?[^>]+>/gi, '')%>
                    <h3 class="font-weight-light">Summary :</h3>
                    <h5 class="font-weight-light"><%=str%></h5>
                <%}%>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

            </div>
        </div>
      </div>
    </body>

</html>
